:root {
  --clr-primary: 223, 47%, 23%;
  --clr-secondary: 224, 23%, 55%;
  --clr-accent: 245, 75%, 52%;
  --clr-card-bg: 0 0% 100%;
  --clr-bg: 225, 100%, 94%;
  --clr-bg-200: 225, 100%, 98%;

  --ff-redhat: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-redhat);
  padding: 1.5rem;
  background: hsl(var(--clr-bg));
  color: hsl(var(--clr-secondary));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
