:root {
  --clr-primary: 223 47% 23%;
  --clr-secondary: 224 23% 55%;
  --clr-accent: 245 75% 52%;
  --clr-accent-light: 245 75% 67%;
  --clr-card-bg: 0 0% 100%;
  --clr-bg: 225 100% 94%;
  --clr-bg-200: 225 100% 98%;
  --clr-white: 0 0% 100%;

  --ff-redhat: "Red Hat Display", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-redhat);
  font-weight: 500;
  padding: 1.5rem;
  background: hsl(var(--clr-bg));
  color: hsl(var(--clr-secondary));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card {
  background: hsl(var(--clr-card-bg));
  max-width: 28.125rem;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
}
